#fb-root
:javascript
  (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "http://connect.facebook.net/pt_BR/all.js#xfbml=1&appId=682151398472346";
        fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

%nav.section-nav
  %ul.list
    %li.tip{ title: "Início", "data-placement" => "left" }
      %a{ href: "#sky"}
        %span.dot
          %span.inner
    %li.tip{ title: "Sobre", "data-placement" => "left" }
      %a{ href: "#big-cloud"}
        %span.dot
          %span.inner
    %li.tip{ title: "Galeria", "data-placement" => "left" }
      %a{ href: "#city", "data-offset" => "150" }
        %span.dot
          %span.inner
    %li.tip{ title: "Autores", "data-placement" => "left" }
      %a{ href: "#authors"}
        %span.dot
          %span.inner
    %li.tip{ title: "Livros", "data-placement" => "left" }
      %a{ href: "#books"}
        %span.dot
          %span.inner
    %li.tip{ title: "Onde", "data-placement" => "left" }
      %a{ href: "#map"}
        %span.dot
          %span.inner
    %li.tip{ title: "Contato", "data-placement" => "left" }
      %a{ href: "#contact"}
        %span.dot
          %span.inner

%section.container-fluid#sky
  = image_tag "nuvem.png",  class: "cloud x1"
  = image_tag "nuvem.png",  class: "cloud x2"
  = image_tag "nuvem.png",  class: "cloud x3"
  = image_tag "nuvem.png",  class: "cloud x4"
  = image_tag "nuvem.png",  class: "cloud x5"
  = image_tag "nuvem2.png", class: "cloud x6"
  = image_tag "nuvem2.png", class: "cloud x7"

  .logo_bg
    %a{href: "https://www.facebook.com/leveumlivro"}
      = image_tag "logo.png", id: "logo"
    %br
    %br
    %h4.sky-title
      A Fundação Municipal de Cultura apresenta
      %br
      o site da coleção
      %b Leve um Livro!
      %br
      Aqui você encontra todas as informações sobre o projeto
      %br
      e ainda pode baixar de graça nossas publicações.
    %br
    .fb-like{"data-action" => "like", "data-href" => "https://www.facebook.com/leveumlivro", "data-layout" => "standard", "data-share" => "true", "data-show-faces" => "true"}

%section.container-fluid#big-cloud
  .container
    .row.introduction
      .col-md-3
        = image_tag "avioes1.png", class: "img-responsive hidden-xs"
      .col-md-6
        %h1.big-cloud-title
          Poesia circulando
          %br
          na cidade
        %p.font-16
          Poesia circulando nas ruas, para o maior número possível de pessoas. Essa foi a ideia que nos motivou a criar a coleção
          %b Leve um Livro.
          Seja em blogs, zines, revistas, saraus ou edições independentes, a poesia brasileira contemporânea mostra vigor e criatividade, com uma grande variedade de estilos e dicções. Nosso objetivo é justamente dar uma amostra dessa produção, colocando para circular o trabalho de poetas de todas as partes do país.

        %p.font-16 O funcionamento da coleção é bastante simples: convidamos 24 poetas de todo o Brasil para publicar microantologias, duas a cada mês, ao longo de um ano. Os livros são feitos especialmente para a coleção, com projeto gráfico exclusivo, e são distribuídos gratuitamente, em 21 pontos de Belo Horizonte. Quem quiser, é só levar para casa, ler e colecionar. Cada livro tem tiragem de 2500 exemplares, distribuídos gratuitamente em displays afixados em centros culturais, cinemas, cafés, bares, livrarias, sebos, teatros e bibliotecas.

        %p.font-16 Aqui no site você encontra todas as informações sobre o projeto: autores participantes, pontos de distribuição, lançamentos, fotos e muito mais. Além disso, disponibilizaremos todos os livros para download gratuito, à medida em que forem sendo lançados. Não deixe de curtir nossa página no Facebook para receber todas as notícias sobre o projeto. Boa leitura!
      .col-md-3
        = image_tag "avioes2.png", class: "img-responsive hidden-xs"

%section.container-fluid#city
  .container
    .row
      .col-md-12
        .collage#instafeed
  -# %ul.instagram#instafeed


%section.container-fluid#authors
  .container
    .row
      .col-md-6.col-md-offset-3
        .author-title.text-center
          %h1
            Autores convidados
          %span Saiba quem participa da coleção
          %br
          %br
          %ul.nav.nav-pills.season-swithcers
            %li.active
              %a.switch-season{ href: "#", data: { target: "segunda"}  } Segunda Temporada
            %li
              %a.switch-season{ href: "#", data: { target: "primeira"} } Primeira Temporada

    .row
      %ul#og-grid{ class: "og-grid" }
        - data.infos_2016.authors.each do |key, author|
          %li{ data: { season: "segunda" } }
            %a.author-trigger{ href: "javascript:void(0);", data: { description: author[:bio] , largesrc: image_path("autores/big_2016/#{author[:img_big]}"), title: author[:name], credit: author[:credit], book: key } }
              = image_tag "autores/mini_2016/#{author[:img_active]}", alt: author[:name], class: "img-circle center-align"
              - if author[:star]
                .star-ribbon
              .author-name.text-center
                = status_bullet(data.infos_2016.books[key] && data.infos_2016.books[key][:public])
                = author[:name]

        - data.infos.authors.each do |key, author|
          %li{ data: { season: "primeira" }, class: "hidden" }
            %a.author-trigger{ href: "javascript:void(0);", data: { description: author[:bio] , largesrc: image_path("autores/big/#{author[:img_big]}"), title: author[:name], credit: author[:credit], book: key } }
              = image_tag "autores/mini/#{author[:img_active]}", alt: author[:name], class: "img-circle center-align"
              - if author[:star]
                .star-ribbon
              .author-name.text-center
                = status_bullet(data.infos.books[key][:public])
                = author[:name]



%section.container-fluid#books
  .container
    .row
      .col-md-6.col-md-offset-3.text-center
        %ul.nav.nav-pills.season-swithcers
          %li.active
            %a.switch-season{ href: "#", data: { target: "segunda"}  } Segunda Temporada
          %li
            %a.switch-season{ href: "#", data: { target: "primeira"} } Primeira Temporada
    .row
      .col-md-12
        .slider-lazy{ data: { season: "segunda" } }
          - books = Hash[data.infos_2016.books.to_a]
          - books_slider = Hash[books.delete_if { |key, book| !book[:public] }.to_a.reverse]
          - books_slider.each do |key, book|
            %div.text-center
              = link_to "#", class: "book-modal-trigger", data: { toggle: "modal", target: "#book-#{key}" } do
                %img.inline{ "data-lazy" => image_path("books_2016/#{book["img"]}") }
                - if data.infos_2016.authors[key][:star]
                  .book-star-ribbon

        .slider-lazy.books-first-season{ data: { season: "primeira"} }
          - books = Hash[data.infos.books.to_a]
          - books_slider = Hash[books.delete_if { |key, book| !book[:public] }.to_a.reverse]
          - books_slider.each do |key, book|
            %div.text-center
              = link_to "#", class: "book-modal-trigger", data: { toggle: "modal", target: "#book-#{key}" } do
                %img.inline{ "data-lazy" => image_path("books/#{book["img"]}") }
                - if data.infos.authors[key][:star]
                  .book-star-ribbon

%section.container-fluid#map
  .container
    .row
      .col-md-6.col-md-offset-3
        .map-title
          = image_tag "aviao.png"
          %h1 Onde encontrar nossos livros
    .row
      .col-md-3
        .local
          %h4.local-name
            %b Biblioteca Pública Estadual Luiz de Bessa
          %a{ href: "http://circuitoculturalliberdade.com.br/plus/modulos/listas/?tac=espaco&id=3#/informacao", target: "_blank" }
            %i.glyphicon.glyphicon-globe
            Ir para o site
          %a{ href: "https://www.google.com.br/maps/place/Biblioteca+P%C3%BAblica+Estadual+Luiz+de+Bessa/@-19.93304,-43.939176,17z/data=!3m1!4b1!4m2!3m1!1s0xa699dea6cb6e4d:0x6be23432c8b0371f", target: "_blank" }
            %i.glyphicon.glyphicon-map-marker
            Ver mapa
      .col-md-3
        .local
          %h4.local-name
            %b Biblioteca Pública Infantil e Juvenil
          %a{ href: "http://www.pbh.gov.br/cultura", target: "_blank" }
            %i.glyphicon.glyphicon-globe
            Ir para o site
          %a{ href: "https://www.google.com/maps/place/Secretaria+Municipal+de+Educa%C3%A7%C3%A3o+Biblioteca+P%C3%BAblica+Infantil+e+Juvenil/@-19.941337,-43.942262,17z/data=!3m1!4b1!4m2!3m1!1s0xa699d66bca7e7b:0x3f4c34bd736feb0d", target: "_blank" }
            %i.glyphicon.glyphicon-map-marker
            Ver mapa

      .col-md-3
        .local
          %h4.local-name
            %b Borrachalioteca
          %a{ href: "http://borrachalioteca.blogspot.com.br/", target: "_blank" }
            %i.glyphicon.glyphicon-globe
            Ir para o site
          %a{ href: "https://www.google.com.br/maps/place/Borrachalioteca/@-19.8933282,-43.8182491,17z/data=!4m7!1m4!3m3!1s0xa69d1642230cf1:0x523d509de6de8681!2sPra%C3%A7a+Paulo+de+Souza+Lima,+22+-+Caieira,+Sabar%C3%A1+-+MG!3b1!3m1!1s0xa69d1642256d05:0xcaf9cfa9f53bbd5b?hl=pt-BR", target: "_blank" }
            %i.glyphicon.glyphicon-map-marker
            Ver mapa
      .col-md-3
        .local
          %h4.local-name
            %b Café Cine Brasil
          %a{ href: "http://www.cafecinebrasil.com.br", target: "_blank" }
            %i.glyphicon.glyphicon-globe
            Ir para o site
          %a{ href: "https://www.google.com.br/maps/place/Caf%C3%A9+Cine+Brasil/@-19.919207,-43.937912,18z/data=!3m1!4b1!4m2!3m1!1s0xa699fb41105703:0x5588362235a87b27?hl=pt-BR", target: "_blank" }
            %i.glyphicon.glyphicon-map-marker
            Ver mapa
    .row
      .col-md-3
        .local
          %h4.local-name
            %b Café com Letras
          %a{ href: "http://www.cafecomletras.com.br", target: "_blank" }
            %i.glyphicon.glyphicon-globe
            Ir para o site
          %a{ href: "https://www.google.com.br/maps/place/Caf%C3%A9+com+Letras/@-19.9370743,-43.938347,17z/data=!4m2!3m1!1s0xa699da23c6c0dd:0xca9545d5a4ab3a98?hl=pt-BR", target: "_blank" }
            %i.glyphicon.glyphicon-map-marker
            Ver mapa
      .col-md-3
        .local
          %h4.local-name
            %b Café Kahlua
          %a{ href: "www.cafekahlua.com.br/", target: "_blank" }
            %i.glyphicon.glyphicon-globe
            Ir para o site
          %a{ href: "https://www.google.com/maps/place/Caf%C3%A9+Kahl%C3%BAa/@-19.925575,-43.938036,17z/data=!3m1!4b1!4m2!3m1!1s0xa699e6bbe5365f:0xb330d95a4c400af4", target: "_blank" }
            %i.glyphicon.glyphicon-map-marker
            Ver mapa
      .col-md-3
        .local
          %h4.local-name
            %b Cantina do Lucas
          %a{ href: "www.cantinadolucas.com.br", target: "_blank" }
            %i.glyphicon.glyphicon-globe
            Ir para o site
          %a{ href: "https://www.google.com/maps/place/Cantina+do+Lucas/@-19.924376,-43.938726,17z/data=!3m1!4b1!4m2!3m1!1s0x0:0xffb699a622a94352", target: "_blank" }
            %i.glyphicon.glyphicon-map-marker
            Ver mapa
      .col-md-3
        .local
          %h4.local-name
            %b Centro Cultural Liberalino Alves de Oliveira
          %a{ href: "http://portalpbh.pbh.gov.br/pbh/ecp/comunidade.do?evento=portlet&pIdPlc=ecpTaxonomiaMenuPortal&app=fundacaocultura&tax=11325&lang=pt_BR&pg=5520&taxp=0&", target: "_blank" }
            %i.glyphicon.glyphicon-globe
            Ir para o site
          %a{ href: "https://www.google.com.br/maps/place/Mercado+Popular+da+Lagoinha/@-19.9047486,-43.947202,17z/data=!3m1!4b1!4m2!3m1!1s0xa690aa3dcfe8b3:0x7f938409625b9a18?hl=pt-BR", target: "_blank" }
            %i.glyphicon.glyphicon-map-marker
            Ver mapa
    .row
      .col-md-3
        .local
          %h4.local-name
            %b Centro Cultural UFMG
          %a{ href: "http://www.ufmg.br/centrocultural", target: "_blank" }
            %i.glyphicon.glyphicon-globe
            Ir para o site
          %a{ href: "https://www.google.com.br/maps/place/Centro+Cultural+da+Ufmg/@-19.916403,-43.935903,17z/data=!3m1!4b1!4m2!3m1!1s0xa699fbd5009c39:0x186ca07e051ea617?hl=pt-BR", target: "_blank" }
            %i.glyphicon.glyphicon-map-marker
            Ver mapa
      .col-md-3
        .local
          %h4.local-name
            %b Centro de Cultura Nansen de Araujo – SESI MG
          %a{ href: "www.teatrosesiminas.com.br", target: "_blank" }
            %i.glyphicon.glyphicon-globe
            Ir para o site
          %a{ href: "https://www.google.com/maps/place/Centro+de+Cultura+Nansen+Ara%C3%BAjo+Sesi+Minas/@-19.925704,-43.921289,17z/data=!3m1!4b1!4m2!3m1!1s0xa6998de37ee339:0xd6722553eaad5268", target: "_blank" }
            %i.glyphicon.glyphicon-map-marker
            Ver mapa
      .col-md-3
        .local
          %h4.local-name
            %b Centro Federal de Educação Tecnológica de Minas Gerais –  CEFET MG
          %a{ href: "http://cefetmg.br", target: "_blank" }
            %i.glyphicon.glyphicon-globe
            Ir para o site
          %a{ href: "https://www.google.com.br/maps/place/Centro+Federal+de+Educa%C3%A7%C3%A3o+Tecnol%C3%B3gica+de+Minas+Gerais%22/@-19.929999,-43.978454,17z/data=!3m1!4b1!4m2!3m1!1s0xa697022e2b5e41:0xea0fc6ee2edeb16d", target: "_blank" }
            %i.glyphicon.glyphicon-map-marker
            Ver mapa
      .col-md-3
        .local
          %h4.local-name
            %b Fundação Municipal de Cultura / Belotur
          %a{ href: "www.bhfazcultura.pbh.gov.br", target: "_blank" }
            %i.glyphicon.glyphicon-globe
            Ir para o site
          %a{ href: "https://www.google.com/maps/place/Funda%C3%A7%C3%A3o+Municipal+de+Cultura+de+Belo+Horizonte/@-19.922727,-43.937055,17z/data=!3m1!4b1!4m2!3m1!1s0xa699f0ed6683d1:0xf5dd3f723404098", taget: "_blank" }
            %i.glyphicon.glyphicon-map-marker
            Ver mapa
    .row
      .col-md-3
        .local
          %h4.local-name
            %b Livraria Asa de Papel
          %a{ href: "www.asadepapel.com.br", target: "_blank" }
            %i.glyphicon.glyphicon-globe
            Ir para o site
          %a{ href: "https://www.google.com/maps/place/Livraria+Asa+de+Papel/@-19.926857,-43.925452,17z/data=!3m1!4b1!4m2!3m1!1s0x0:0x2ea32559d98432ec", target: "_blank" }
            %i.glyphicon.glyphicon-map-marker
            Ver mapa
      .col-md-3
        .local
          %h4.local-name
            %b Livraria Crisálida
          %a{ href: "http://www.crisalidaeditora.blogspot.com", target: "_blank" }
            %i.glyphicon.glyphicon-globe
            Ir para o site
          %a{ href: "https://www.google.com.br/maps/place/R.+da+Bahia,+1148+-+Centro,+Belo+Horizonte+-+MG,+30160-011/@-19.9249886,-43.9375811,17z/data=!3m1!4b1!4m2!3m1!1s0xa699e69e201ec7:0xa0a17af3182a1417?hl=pt-BR", target: "_blank" }
            %i.glyphicon.glyphicon-map-marker
            Ver mapa
      .col-md-3
        .local
          %h4.local-name
            %b Livraria Scriptum
          %a{ href: "http://www.scriptum.com.br/", target: "_blank" }
            %i.glyphicon.glyphicon-globe
            Ir para o site
          %a{ href: "https://www.google.com.br/maps/place/Scriptum/@-19.939536,-43.935567,17z/data=!3m1!4b1!4m2!3m1!1s0xa699da9ebb2a25:0xcaab91f1310deba9?hl=pt-BR", target: "_blank" }
            %i.glyphicon.glyphicon-map-marker
            Ver mapa
      .col-md-3
        .local
          %h4.local-name
            %b Livraria UFMG - Campus Pampulha
          %a{ href: "http://borrachalioteca.blogspot.com.br/", target: "_blank" }
            %i.glyphicon.glyphicon-globe
            Ir para o site
          %a{ href: "https://www.google.com.br/maps/place/FAFICH+UFMG/@-19.8670171,-43.9636391,17z/data=!4m7!1m4!3m3!1s0xa69063d33adf9d:0xc47b2d3a7dcf4bf2!2sAv.+Pres.+Ant%C3%B4nio+Carlos,+6627+-+Lagoinha,+Belo+Horizonte+-+MG!3b1!3m1!1s0x0000000000000000:0x285de9591c249bf8?hl=pt-BR", target: "_blank" }
            %i.glyphicon.glyphicon-map-marker
            Ver mapa
    .row
      -# .col-md-3
      -#   .local
      -#     %h4.local-name
      -#       %b Escola Livre de Artes – Arena da Cultura
      -#     %a{ href: "www.bhfazcultura.pbh.gov.br", target: "_blank" }
      -#       %i.glyphicon.glyphicon-globe
      -#       Ir para o site
      -#     %a{ href: "https://www.google.com/maps/place/ESCOLA+LIVRE+DE+ARTES+-+Arena+da+Cultura/@-19.918404,-43.934605,17z/data=!3m1!4b1!4m2!3m1!1s0xa699fa7afea447:0xcea35bef0160baa6", taget: "_blank" }
      -#       %i.glyphicon.glyphicon-map-marker
      -#       Ver mapa
      .col-md-3
        .local
          %h4.local-name
            %b Oi Kabum
          %a{ href: "www.oifuturo.org.br/educacao/oi-kabum", target: "_blank" }
            %i.glyphicon.glyphicon-globe
            Ir para o site
          %a{ href: "https://www.google.com/maps/place/Oi+Kabum+BH+Escola+de+Arte+e+Tecnologia/@-19.89632,-43.914554,17z/data=!3m1!4b1!4m2!3m1!1s0xa69a4885baf215:0x9262f0f869e55326", target: "_blank" }
            %i.glyphicon.glyphicon-map-marker
            Ver mapa
      .col-md-3
        .local
          %h4.local-name
            %b UAI Praça Sete – Unidade de Atendimento Integrado (PSIU)
          %a{ href: "http://www.belohorizonte.mg.gov.br/local/outros-servicos/outros-orgaos/uai-unidade-atendimento-integrado-pca-7psiu", target: "_blank" }
            %i.glyphicon.glyphicon-globe
            Ir para o site
          %a{ href: "https://www.google.com.br/maps/place/UAI+Pra%C3%A7a+Sete/@-19.9195053,-43.9416549,17z/data=!4m7!1m4!3m3!1s0xa699fcad953a15:0x29df2b561dd8d666!2sAv.+Amazonas,+500+-+Centro,+Belo+Horizonte+-+MG!3b1!3m1!1s0xa699e2f5ae8405:0x674c7ab0b7f72446?hl=pt-BR", target: "_blank" }
            %i.glyphicon.glyphicon-map-marker
            Ver mapa
      .col-md-3
        .local
          %h4.local-name
            %b Rodoviária de Belo Horizonte – Centro de Atendimento ao Turista
          %a{ href: "http://rodoviariadebh.com.br/", target: "_blank" }
            %i.glyphicon.glyphicon-globe
            Ir para o site
          %a{ href: "https://www.google.com.br/maps/place/pra%C3%A7a+Rio+Branco,+100+-+Centro,+Belo+Horizonte+-+MG,+30111-010/@-19.9149654,-43.9413903,17z/data=!3m1!4b1!4m2!3m1!1s0xa699fc2d18db8d:0x89fcd8cd1e3db48a?hl=pt-BR", target: "_blank" }
            %i.glyphicon.glyphicon-map-marker
            Ver mapa
      .col-md-3
        .local
          %h4.local-name
            %b Sesc Palladium
          %a{ href: "http://www.sescmg.com.br/sescpalladium", target: "_blank" }
            %i.glyphicon.glyphicon-globe
            Ir para o site
          %a{ href: "https://www.google.com.br/maps/place/Sesc+Palladium/@-19.923766,-43.940244,17z/data=!4m5!1m2!2m1!1sSesc+Palladium+-+Avenida+Augusto+de+Lima,+Centro,+Belo+Horizonte+-+Minas+Gerais!3m1!1s0xa699e3db94fa6f:0x45817ca3a0c54ca?hl=pt-BR", target: "_blank" }
            %i.glyphicon.glyphicon-map-marker
            Ver mapa

%section.container-fluid#contact
  .container
    .row
      .col-md-3
        .row
          .col-md-12
            .text-center= image_tag "logo_site2.png"
        .row
          .col-md-12
            .social-icons.text-center
              %a{ href: "https://www.facebook.com/leveumlivro", target: "_blank" }
                %i.fa.fa-facebook-square
              %a{ href: "http://instagram.com/leveumlivro", target: "_blank" }
                %i.fa.fa-instagram
              %a{ href: "mailto:leveumlivro@gmail.com" }
                %i.fa.fa-envelope
      .col-md-4
        %h4 &copy; #{Time.now.year} COLEÇÃO LEVE UM LIVRO
        %br
        %b.block EDITORES
        %span.font-16 Ana Elisa Ribeiro e Bruno Brum
        %br
        %br
        %b.block DESIGN GRÁFICO
        %span.font-16
          Bruno Brum
          = link_to "(br1 Design)", "http://br1design.com.br", target: "_blank"
        %br
        %br
        %b.block LOGO DA COLEÇÃO
        %span.font-16 Bruno Brum e Tatiana Perdigão
        %br
        %br
        %b.block REVISÃO
        %span.font-16 Ana Elisa Ribeiro
        %br
        %br
        %b.block ILUSTRAÇÕES DE CAPA
        %span.font-16 Tatiana Perdigão
        %br
        %br
        %b.block DESENVOLVIMENTO DO SITE
        %span.font-16 Bruno Brum e Mozart Brum
        %br
        %br
        %b.block PRODUÇÃO
        %span.font-16 Ana Elisa Ribeiro e Rafael F. Carvalho
      .col-md-5
        %h2.contact-title Entre em contato
        = form_tag "http://boxmailer.herokuapp.com", class: "contact-form"  do
          = hidden_field_tag :to, value: "leveumlivro@gmail.com"
          = text_field_tag :name, placeholder: "Nome"
          = email_field_tag :email, placeholder: "E-mail"
          = text_area_tag :body, placeholder: "Mensagem", rows: 12
          %btn.btn.btn-lg.btn-primary.send-mail.btn-loading{ "data-loading-text" => "Enviando..." }
            Enviar
%section.container-fluid.sponsor
  .container
    .row
      .col-md-6.col-md-offset-3
        = image_tag "logoslei.jpg", class: "img-responsive center-align"


.modal.fade#contact-modal
  .modal-dialog.modal-sm
    .modal-content
      .modal-header
        %a.close{ "data-dismiss" => "modal", :type => "button" } x
      .modal-body
        %p Sua mensagem foi enviada!

- data.infos_2016.books.each do |key, book|
  .modal.fade{ id: "book-#{key}"}
    - if book[:public]
      .modal-dialog
        .modal-content
          .modal-header
            %h4.modal-title.inline= book[:name]
            %button.close{"data-dismiss" => "modal", :type => "button"}
              %span{"aria-hidden" => "true"} X
              %span.sr-only Close
          .modal-body
            .text-center
              = image_tag "books_2016/#{book[:img]}"
            .center-align{ style: "width:252px;"}
              %br
              %p
                %b Título:
                #{book[:name]}
              %p
                %b Autor:
                #{book[:author]}
              %p
                %b Disponível em:
                = book[:public] ? book[:released_at] : "Em breve"
          .modal-footer
            .pull-right
              -# %span.btn.btn-md.btn-info{ "data-dismiss" => "modal" } Download em breve
              - if book[:public]
                = link_to "Download", book[:link], download: "true", class: "btn btn-md btn-primary", target: "_blank"
              - else
                = link_to "Fechar", "#", class: "btn btn-md btn-link", "data-dismiss" => "modal"
    - else
      .modal-dialog
        .modal-content
          .modal-header
            %h4.modal-title.inlineK ...
            %button.close{"data-dismiss" => "modal", :type => "button"}
              %span{"aria-hidden" => "true"} X
              %span.sr-only Close
          .modal-body
            .text-center
              = image_tag "books/embreve.jpg"
            .center-align{ style: "width:252px;"}
              %br
              %p
                %b Título:
                \...
              %p
                %b Autor:
                \...
              %p
                %b Disponível em:
                Em breve
          .modal-footer
            .pull-right
              = link_to "Fechar", "#", class: "btn btn-md btn-link", "data-dismiss" => "modal"


- data.infos.books.each do |key, book|
  .modal.fade{ id: "book-#{key}"}
    .modal-dialog
      .modal-content
        .modal-header
          %h4.modal-title.inline= book[:name]
          %button.close{"data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} X
            %span.sr-only Close
        .modal-body
          .text-center
            = image_tag "books/#{book[:img]}"
          .center-align{ style: "width:252px;"}
            %br
            %p
              %b Título:
              #{book[:name]}
            %p
              %b Autor:
              #{book[:author]}
            %p
              %b Disponível em:
              = book[:public] ? book[:released_at] : "Em breve"
        .modal-footer
          .pull-right
            -# %span.btn.btn-md.btn-info{ "data-dismiss" => "modal" } Download em breve
            - if book[:public]
              = link_to "Download", book[:link], download: "true", class: "btn btn-md btn-primary", target: "_blank"
            - else
              = link_to "Fechar", "#", class: "btn btn-md btn-link", "data-dismiss" => "modal"
